name: Deploy Chenpilot Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10.13.1

      - name: Install and Build
        run: |
          pnpm install --frozen-lockfile
          pnpm run build

      - name: Upload build to AWS server via SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USER }}
          key: ${{ secrets.AWS_SSH_KEY }}
          source: |
            ./dist/*
            ./package.json
            ./pnpm-lock.yaml
          target: /var/www/chenpilot-prod
          overwrite: true
          rm: true

      - name: Restart chenpilot-prod on AWS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USER }}
          key: ${{ secrets.AWS_SSH_KEY }}
          script: |
            cd /var/www/chenpilot-prod
            echo "${{ secrets.PROD_ENV }}" > .env
            pnpm install --prod
            pm2 start dist/index.js --name chenpilot-prod || pm2 restart chenpilot-prod
